.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.text-xxs {
    font-size: 0.65rem;
    line-height: 0.88rem;
}

.text-xxxs {
    font-size: 0.5rem;
    line-height: 0.7rem;
}

.editor-container {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
}

.editor-container * {
    border: none;
    outline: none;
}

.w-md-editor-toolbar {
    background-color: inherit;
    border-width: 1px;
    border-color: rgb(113, 113, 122);
    border-style: solid;
}

.w-md-editor {
    background-color: inherit;
    width: 100%;
}

.w-md-editor-content {
    background-color: inherit;
    border-left-width: 1px;
    border-left-color: rgb(113, 113, 122);
    border-left-style: solid;
    border-right-width: 1px;
    border-right-color: rgb(113, 113, 122);
    border-right-style: solid;
}

.w-md-editor-toolbar > ul:last-child {
    display: none;
}

.w-md-editor-bar {
    display: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;